<style>
    .payment_method_oc_gopay_gateway_selection {
        border-bottom: 1px dashed;
        padding: 12px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        overflow: hidden;
        font-size: 15px;
    }
</style>
<script type="text/javascript" src="{{ embed }}"></script>
<fieldset>
    <p style="font-size: 15px;"><b>{{ payment_gopay_description }}</b></p>
    <form id="form-gopay">
        {{ payment_fields }}
        <div id="form-gopay-message" class="alert alert-warning">
            <i class="fa-solid fa-circle-check"></i>
            GoPay payment gateway plugin disabled for selected Country!
        </div>
        <div class="d-inline-block pt-2 pd-2 w-100 text-end">
            <button type="submit" id="button-confirm" class="btn btn-primary">{{ button_confirm }}</button>
        </div>
    </form>
</fieldset>
<script type="text/javascript">
    // Check Apple pay
    var applePayAvailable = false;
    if(window.ApplePaySession && window.ApplePaySession.canMakePayments()) {
        applePayAvailable = true;
    }

    var applePay = document.getElementsByName('APPLE_PAY');
    if (applePay.length !== 0 && !applePayAvailable) {
        applePay[0].remove();
    }

    // Check country and disable button
    var country = document.getElementById('input-shipping-country');
    var code = country;
    if ( code != null ) {
        code = country.value;
    }
    var countries = {{ countries|json_encode|raw }};

    for (var i = 0; i < countries.length; i++) {
        if ( parseInt( countries[i]['country_id'] ) === parseInt( code ) || code == null ) {
            $('#button-confirm').prop('disabled', false);
            $('#form-gopay-message').hide();
            break;
        } else {
            $('#button-confirm').prop('disabled', true);
            $('#form-gopay-message').show();
        }
    }

    $('#form-gopay').on('submit', function (e) {
        e.preventDefault();
        var element = this;

        $.ajax({
            url: 'index.php?route=extension/opencart_gopay/payment/gopay|create_payment&language={{ language }}',
            type: 'post',
            data: $('#form-gopay').serialize() + '&' + $('#shipping-address').serialize(),
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded',
            cache: false,
            processData: false,
            async: false,
            beforeSend: function () {
                $('#button-confirm').prop('disabled', true).addClass('loading');
            },
            success: function (json) {
                $('#form-gopay .alert').remove();
                $('#form-gopay .lds-spinner').addClass('d-none');

                if (json['gw_url']) {
                    _gopay.checkout({gatewayUrl: json['gw_url'], inline: true});
                }
                if (json['failure']) {
                    location = json['failure'];
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
</script>