{{ order_info }}
<p>index.php?route=extension/opencart_gopay/sale/gopay|process_refund&language={{ language }}&user_token={{ user_token }}&order_id={{ order_id }}</p>
<script>
    $('#order-products').after('\
    <tbody>\
        <form id="form-gopay">\
            <tr>\
                <td colspan="5"></td>\
                <td class="text-end"><button id="refund-button" type="submit" class="btn btn-primary"> {{ refund }} </button></td>\
            </tr>\
        </form>\
    </tbody>');

    $('#form-gopay').on('submit', function (e) {
        e.preventDefault();

        $.ajax({
            url: 'index.php?route=extension/opencart_gopay/sale/gopay|process_refund&language={{ language }}&user_token={{ user_token }}&order_id={{ order_id }}',
            type: 'post',
            contentType: 'application/x-www-form-urlencoded',
            cache: false,
            processData: false,
            async: false,
            beforeSend: function () {
                $('#refund-button').prop('disabled', true).addClass('loading');
            },
            success: function (json) {
                $('#refund-button .alert').remove();
                $('#refund-button .lds-spinner').addClass('d-none');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
</script>